<!doctype html>
<html lang="ru">

<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="font/fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Gamach Burger</title>

    <script ENGINE="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="index.html">
                        <img src="img/Group 1.svg" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Меню
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Бургеры</a></li>
                                    <li><a class="dropdown-item" href="#">Стейки</a></li>
                                    <li><a class="dropdown-item" href="#">Твистеры</a></li>
                                    <li><a class="dropdown-item" href="#">Напитки</a></li>
                                    <li><a class="dropdown-item" href="#">Кофе</a></li>
                                    <li><a class="dropdown-item" href="#">Чаи</a></li>
                                    <li><a class="dropdown-item" href="#">Гарниры</a></li>
                                    <li><a class="dropdown-item" href="#">Соусы</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="delivery.html">Доставка</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="pay.html">Оплата</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">О нас</a>
                            </li>
                            <li>
                                <div class="menu-cart">
                                    <a class="nav-link active" href="">
                                        <img src="img/shoping_cart.svg" alt="">
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="menu-contact">
                                    <a class="nav-link active" href="tel:89882913144">
                                        <img class="phone" src="img/phone.svg" alt="">
                                        <span>8-988-291-31-44</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <section class="card">
            <div class="container">
                <div class="card-top">
                    <div class="card-img">
                        <img src="" alt="">
                    </div>
                    <div class="card-sidebar">
                        <div class="title">Бургер 500гр</div>
                        <div class="reviews">
                            Количество отзывов: <span>23</span>
                        </div>
                        <div class="price">
                            <span>Цена за шт.</span> <b>1 050 ₽</b>
                        </div>
                        <div class="price">
                            <span>Количество</span>
                            <div class="input_range">
                                <span class="min button">
                                    <img src="img/minus.png" alt="">
                                </span>
                                <input type="text" name="qty" id="qty" maxlength="12" />
                                <span class="plus button">
                                    <img src="img/plus.png" alt="">
                                </span>
                            </div>
                        </div>
                        <div class="to-pay">
                            <span>Итого к оплате</span>
                            <b>1 050 ₽</b>
                        </div>
                        <div class="pay-block">
                            <button class="cart-add"><img src="img/add-to-cart.png" alt=""></button>
                        </div>
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="card-info">
                        <h2>Описание</h2>
                        <p>Полутвердый пластичный однородный сыр, слегка ломкий на изгибе. Пажитник придает легкое ореховое послевкусие. В Италии считается столовым сыром, который подходит к любому времени суток и к любому блюду и к вину<br>
                            Вес головки 500 г. +/-10%. Цена за 1 кг.<br>
                            Продукция компании Alpenville изготовлена преимущественно из Шарангского молока</p>
                    </div>
                    <div class="card-empty"></div>
                </div>
            </div>
        </section>
        <section class="product-description"></section>

        <footer>
            <div class="container">
                <div class="footer-wrapper">
                    <div class="footer-left">
                        <div class="phones">
                            <div class="phone-item">
                                <span>Для приема заказов</span>
                                <span>в городе Махачкала</span>
                                <a href="tel:89882913199">8-988-291-31-99</a>
                            </div>
                            <div class="phone-item">
                                <span>Для приема заказов</span>
                                <span>в городе Каспийск</span>
                                <a href="tel:89882913144">8-988-291-31-44</a>
                            </div>
                        </div>
                        <div class="work-time">График работы: с 11:00 до 00:00</div>
                    </div>
                    <div class="footer-center">
                        <div class="work-adress">
                            г. Махачкала, ул. Магомеда Гаджиева 86
                        </div>
                        <div class="work-adress">
                            г. Каспийск, ул. Хизроева 1
                        </div>
                    </div>
                    <div class="footer-right">
                        <div class="social">
                            <a href="">Мы в instagram ></a>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <span>©2021. Gamach Burger</span>
                    <a href="">Условия и соглашения</a>
                    <a href="">Политика конфиденциальности</a>
                </div>
            </div>
        </footer>

    </div>

    <script>
        jQuery(function() {
            var j = jQuery; //Just a variable for using jQuery without conflicts
            var addInput = "#qty"; //This is the id of the input you are changing
            var n = 1; //n is equal to 1

            //Set default value to n (n = 1)
            j(addInput).val(n + 'шт.');

            //On click add 1 to n
            j(".plus").on("click", function() {
                j(addInput).val(++n + 'шт.');
            });

            j(".min").on("click", function() {
                //If n is bigger or equal to 1 subtract 1 from n
                if (n >= 1) {
                    j(addInput).val(--n + 'шт.');
                } else {
                    //Otherwise do nothing
                }
            });
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>

</html>
